<a href="https://colab.research.google.com/github/daje0601/pandas_study/blob/main/pandas_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 샘플링

### 1) Simple random sampling
### 모집단에서 샘플을 무작위로 뽑는 방법

In [ ]:
import numpy as np

In [ ]:
# hundreds라는 변수에 0부터 100까지 숫자들을 리스트에 담습니다. 
hundreds = np.arange(0,101, 1).tolist()

# 그 중 20개를 랜덤하게 뽑습니다. 
np.random.choice(hundreds, size = 20)

### 2) Systematic sampling
### 모집단에서 샘플 시, 2의 배수, 5의 배수 등의 규칙을 가지고 뽑는 방법

In [ ]:
# hundreds라는 변수에 0부터 100까지 숫자들을 리스트에 담습니다. 
hundreds = np.arange(0,100, 1).tolist()

# 3의 배수를 뽑습니다. 
np.arange(0,100, 3)

### 3) Stratified random sampling
### 모집단을 여러 그룹으로 나누고 그룹별로 무작위 추출하는 방법

In [ ]:
# 0~100을 10단위로 그룹을 나누고 뽑습니다. 

qwe = [] 
asd = []
zxc = []

for number in hundreds:
  if number <= 10 : 
    qwe.append(number)
  elif 10< number <=20:
    asd.append(number)
  elif 20< number <=30:
    zxc.append(number)
  else:
    continue

print(qwe), print(asd), print(zxc)

###4) cluster random sampling
### 모집단을 여러 그룹으로 나누고 그 중 특정 그룹을 선택하여 무작위로 추출하는 방법

In [ ]:
# 0~21까지 숫자를 3으로 나눈 값을 가지고 데이터를 뽑아옵니다. 

hundreds = np.arange(0,21, 1).tolist()
qwe = []
asd = []
zxc = []

for number in hundreds:
  if number % 3 == 0:
    qwe.append(number)
  elif number % 3 == 1:
    asd.append(number)
  elif number % 3 == 2:
    zxc.append(number)

print(qwe), print(asd), print(zxc)

# 2. t-test

In [ ]:
# 데이터 로드 
import pandas as pd
import numpy as np
from scipy import stats

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep = '\t', skiprows = 1)

trees = trees.replace({'-':"0"})

trees.head()

     기간  자치구    노선수       수량     은행나무  ...    무궁화    소나무   목련    이팝나무      기타
0  2019  서울시  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  종로구     70    7,329    4,072  ...      0    239    0     711      29
2  2019   중구     48    8,250    3,640  ...     46  2,162    0     470     817
3  2019  용산구     39    7,835    4,444  ...      0     51  126     198     780
4  2019  성동구     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

In [ ]:
trees.drop(["기간", "자치구", "노선수", "수량"], axis=1, inplace=True)
trees.drop([0, 26, 27], inplace=True)
for col in trees.columns:
  trees[col] = pd.to_numeric(trees[col].str.replace(',',''))

In [ ]:
df = trees.iloc[0:5, 0:5]
df

   은행나무  양버즘나무  느티나무  왕벚나무  은단풍나무
1  4072   1071   619   421      0
2  3640    162   460   289      0
3  4444   1422   373   262      0
4  1090   2401  1975   602     29
5  1247   2306  1057   940      0

In [ ]:
# 우리는 왕벚나무 500개 있다고 가정해봅시다. 
# 그리고 t-test를 진행하고 p-value에 대해 설명하는 예제를 다루어봅시다 
# p-value기준점 : 0.05( 5% )

df = df["왕벚나무"]

stats.ttest_1samp(df, 500)

Ttest_1sampResult(statistic=0.02244058053767974, pvalue=0.9831713300852056)

statistic : t-test 값을 나타내며, pvalue : 측정된 p-value를 나타납니다.  

  우리는 은당풍나무가 500개라고 가정을 했는데, 측정된 pvalue가 0.05를 넘었습니다.  거의 1에 가깝죠? 
  
  그럼 이게 무엇을 의미할까요? 네 맞습니다. !
  
   저희에 가설이 맞을 확률이 높다는 걸 의미합니다.

In [ ]:
# 실제 평균을 구하여도 502정도가 출력이 되네요 

df.mean()

502.8

# 3. ANOVA

In [4]:
A = '38 33 35 92 76 97 88 41 11 9'.split()
B = '18 52 62 48 30 40 87 12 97 82'.split()
C = '28 90 5 49 66 73 96 80 4 17'.split()
D = '8 99 4 12 7 64 18 10 9 20'.split()

In [7]:
from scipy import stats

F_statistic, pVal = stats.f_oneway(A, B, C, D)

print('데이터의 일원분산분석 결과 : F={0:.1f}, p={1:.5f}'.format(F_statistic, pVal))
if pVal < 0.05:
    print('P-value 값이 충분히 작음으로 인해 그룹의 평균값이 통계적으로 유의미하게 차이보인다.')
else:
  print('P-value 값이 충분히 작음으로 인해 그룹의 평균값이 통계적으로 유의미하게 차이나지 않는 것으로 보인다.')

데이터의 일원분산분석 결과 : F=1.7, p=0.17921
P-value 값이 충분히 작음으로 인해 그룹의 평균값이 통계적으로 유의미하게 차이나지 않는 것으로 보인다.

# 4. chi-square

1) one sample test

In [14]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chisquare  

!pandas read csv form github

url = "https://raw.githubusercontent.com/daje0601/pandas_study/main/%EA%B7%9C%EB%AA%A8%EB%B3%84_%EB%AF%B8%EB%B6%84%EC%96%91%ED%98%84%ED%99%A9(%EC%84%9C%EC%9A%B8%2C%20%EB%B6%80%EC%82%B0%2C%20%EB%8C%80%EA%B5%AC%2C%20%EB%8C%80%EC%A0%84).csv"
df = pd.read_csv(url, encoding='euc-kr')

# 불필요한 column제거 
df = df.drop(["2020. 06", "2020. 07", "2020. 08", "2020. 09", "2020. 05"], axis=1)
df.head()

/bin/bash: pandas: command not found

  시도(1) 부문(1)   규모(1)  2020. 10
0    서울  공공부문   60㎡이하         0
1    서울  공공부문  60∼85㎡         0
2    서울  민간부문   60㎡이하        50
3    서울  민간부문  60∼85㎡         2
4    서울  민간부문   85㎡초과         0

In [17]:
# 데이터 그룹화 
data = df.groupby(df['시도(1)']).sum()


# 데이터 리스트화 
data = df.groupby(df['시도(1)']).sum()
data = data["2020. 10"].tolist()


# 카이점검 진행 

stats.chisquare(data)

Power_divergenceResult(statistic=1081.958954089389, pvalue=2.9856891658559825e-234)

귀무가설 : 지역간에 미분양된 아파트 갯수의 차이가 없다.  
대립가설 : 지역간에 미분양된 아파트 갯수의 차이가 있다.

[ 결론 ]
-. p-value가 0.05보다 크므로 귀무가설은 성립될 수도 있다.  
-. 지역간에 미분양된 아파트의 차이가 없을 수도 있다.

4-1) two sample test

In [18]:
# 데이터 피벗화 
data = pd.pivot_table(data=df, index="시도(1)", columns="규모(1)", aggfunc = "sum")
data = data.values

# 카이검점 진행
from scipy.stats import chi2_contingency
chi2_contingency(data, correction = False)

(1801.330523795501, 0.0, 6, array([[542.82943144, 537.61660079,  62.55396777],
        [395.13043478, 391.33596838,  45.53359684],
        [599.34448161, 593.58893281,  69.06658559],
        [ 24.69565217,  24.45849802,   2.8458498 ]]))

귀무가설 : 지역간에 미분양된 아파트 갯수의 차이가 없다.  
대립가설 : 지역간에 미분양된 아파트 갯수의 차이가 있다.  

[ 결론 ]
-. p-value가 0.05보다 작으므로 귀무가설은 성립되지 않을 수 있다.  
-. 지역간에 미분양된 아파트의 차이가 있을 수 있다.

# 베지안 예제

8%의 false positive rate(fpr),  
99%의 true positive rate(tpr)  
그리고 일반적으로 전체 인구의 1/100이 실제로 음주운전을 한다고 가정합시다.  
  
첫번째 음주 테스트 결과, 양성이면서 음주했을 가능성은 얼마일까요?  
두번째 음주 테스트 결과, 양성이면서 음주했을 가능성은 얼마일까요?   
실제로 음주 했을 확률이 95% 이상으로 보장되기 위해서는, 몇번의 음주 테스트가 필요로 합니까?

일단, 베이지안이라고 하면 무조건 사각형을 그려야하는거 아시죠?
사각형을 그려보세요  
  
  그리고 식을 세우고 천천히 코드를 작성해 보세요  
  아래와 같은 코드가 작성되셨나요?

일단 우리는 대략적으로 100명을 음주측정하였을 때 1명은 음주를 했을거야 라는 가정하였습니다.  
즉, 실험하기 전 음주운전할 확률이 0.01이라고 가정한 것과 동일합니다.

In [ ]:
alcohol_check_rate = 0.001 
fpr = 0.08
tpr = 0.99

alcohol_check_rate = alcohol_check_rate * tpr / ((alcohol_check_rate * tpr) + ((1-alcohol_check_rate)*fpr))
alcohol_check_rate

0.012235817575083425

실제로 음주를 한 사람이 검사결과가 양성일 확률과 음주를 하지 않았는데 양성을 받을 확률을 구해야합니다.  
그런 후 위 값을 분모에 놓고 실제 음주를 하고 검사결과도 양성일 확률을 분자에 넣어줘야겠죠?  
  
그렇게 계산하면 alcohol_check_rate : 0.01223 이 계산됩니다.

우리는 사전에 0.01이 음주운전할 확률이라고 예상하였는데  
측정기가 바르게 측정할 확률과 오류를 발생시킬 확률을 포함하여 계산한 결과,  
음주운전할 확률이 0.01223이 나왔습니다. 

즉, 
사전 확률 : 0.01   
사후 확률 : 0.01223

확률이 증가한 걸 확인할 수 있었습니다.

이제 두번 계산해봐야겠죠?  
어떻게 해야 두번 계산 할 수 있을까요?  
아니, 우리는 왜 두번 검사를 진행하려고 하는걸까요?  

1번만 검사해서는 제대로 음주측정이 되었는지 신뢰할 수 없겠죠?  
그리고 검사를 진행할수록 정확하게 측정될 확률이 높아진다는 사실을 추측 할 수 있습니다.   
이제 계산된 사후확률이 다시 사전확률로 높고 계산을 진행해보겠습니다.

In [ ]:
alcohol_check_rate = 0.01223
fpr = 0.08
tpr = 0.99

alcohol_check_rate = alcohol_check_rate * tpr / ((alcohol_check_rate * tpr) + ((1-alcohol_check_rate)*fpr))
alcohol_check_rate

0.1328628662790123

사전 확률 : 0.01223  
사후 확률 : 0.1328

이번에는 더 증가하였습니다.  

그럼 저 사후 확률이 95%이상이 되려면 몇번이나 검사를 진행해야할까요?

우리는 단순하게 위 코드를 계속 반복할 수 없습니다.  
그럼 프로그래머가 아니죠!  
엑셀을 사용하는 것과 무엇이 다른가요?  

그래서 우리는 함수를 만들어주려고 합니다.

In [ ]:
def alcohol_positive_checking(alcohol_check_rate, fpr, tpr): # 변수를 이렇게 넣어줍니다. 
  try_number = 0 # 반복되는 횟수를 체크하기 위한 변수입니다. 
  for try_number in range(1000) : # 일단 몇번해야할지 모르니 범위를 넓게 잡아보았습니다. 
    if alcohol_check_rate < 0.95:
      try_number +=1
      alcohol_check_rate = alcohol_check_rate * tpr / ((alcohol_check_rate * tpr) + ((1-alcohol_check_rate)*fpr))
      print(f"{try_number}회 시도 시, 신뢰할 수 있는 확률 : {(alcohol_check_rate*100):.2f}%") # :.2는 소수점을 컨트롤하는 코드 / f 포맷팅도 함께 기재함 
    else:
      break

In [ ]:
alcohol_check_rate = 0.001 
fpr = 0.08
tpr = 0.99

alcohol_positive_checking(alcohol_check_rate, fpr, tpr)

1회 시도 시, 신뢰할 수 있는 확률 : 1.22%
2회 시도 시, 신뢰할 수 있는 확률 : 13.29%
3회 시도 시, 신뢰할 수 있는 확률 : 65.48%
4회 시도 시, 신뢰할 수 있는 확률 : 95.91%

위에 볼 수 있는 4회 시도 시, 신뢰할 수 있는 확률이 95%이상이 됩니다.  
만약 99%이상이 되려면 몇번을 해야하는지도 한번 해볼까요?  
alcohol_check_rate < 0.95 -> alcohol_check_rate < 0.99  

위와 같이 간단하게 코드를 수정하면 바로 가능합니다.

In [ ]:
def alcohol_positive_checking(alcohol_check_rate, fpr, tpr): # 변수를 이렇게 넣어줍니다. 
  try_number = 0 # 반복되는 횟수를 체크하기 위한 변수입니다. 
  for try_number in range(1000) : # 일단 몇번해야할지 모르니 범위를 넓게 잡아보았습니다. 
    if alcohol_check_rate < 0.99:
      try_number +=1
      alcohol_check_rate = alcohol_check_rate * tpr / ((alcohol_check_rate * tpr) + ((1-alcohol_check_rate)*fpr))
      print(f"{try_number}회 시도 시, 신뢰할 수 있는 확률 : {(alcohol_check_rate*100):.2f}%") # :.2는 소수점을 컨트롤하는 코드 / f 포맷팅도 함께 기재함 
    else:
      break

In [ ]:
alcohol_check_rate = 0.001 
fpr = 0.08
tpr = 0.99

alcohol_positive_checking(alcohol_check_rate, fpr, tpr)

1회 시도 시, 신뢰할 수 있는 확률 : 1.22%
2회 시도 시, 신뢰할 수 있는 확률 : 13.29%
3회 시도 시, 신뢰할 수 있는 확률 : 65.48%
4회 시도 시, 신뢰할 수 있는 확률 : 95.91%
5회 시도 시, 신뢰할 수 있는 확률 : 99.66%

오호! 5번만 실시하면 바로 99%이상의 확률을 얻을 수 있습니다.  
그럼, 음주 측정을 5번만 해보면 거의 정확하게 음주를 하였는지 안하였는지를 알 수 있습니다.