<a href="https://colab.research.google.com/github/daje0601/pandas_study/blob/main/pandas_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 데이터 로드 
import pandas as pd
import numpy as np
from scipy import stats

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep = '\t', skiprows = 1)

trees = trees.replace({'-':"0"})

trees.head()

     기간  자치구    노선수       수량     은행나무  ...    무궁화    소나무   목련    이팝나무      기타
0  2019  서울시  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  종로구     70    7,329    4,072  ...      0    239    0     711      29
2  2019   중구     48    8,250    3,640  ...     46  2,162    0     470     817
3  2019  용산구     39    7,835    4,444  ...      0     51  126     198     780
4  2019  성동구     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

In [2]:
trees.drop(["기간", "자치구", "노선수", "수량"], axis=1, inplace=True)
trees.drop([0, 26, 27], inplace=True)
for col in trees.columns:
  trees[col] = pd.to_numeric(trees[col].str.replace(',',''))

In [13]:
df = trees.iloc[0:5, 0:5]
df

   은행나무  양버즘나무  느티나무  왕벚나무  은단풍나무
1  4072   1071   619   421      0
2  3640    162   460   289      0
3  4444   1422   373   262      0
4  1090   2401  1975   602     29
5  1247   2306  1057   940      0

In [14]:
# 우리는 왕벚나무 500개 있다고 가정해봅시다. 
# 그리고 t-test를 진행하고 p-value에 대해 설명하는 예제를 다루어봅시다 
# p-value기준점 : 0.05( 5% )

df = df["왕벚나무"]

stats.ttest_1samp(df, 500)

Ttest_1sampResult(statistic=0.02244058053767974, pvalue=0.9831713300852056)

statistic : t-test 값을 나타내며, pvalue : 측정된 p-value를 나타납니다.  

  우리는 은당풍나무가 500개라고 가정을 했는데, 측정된 pvalue가 0.05를 넘었습니다.  거의 1에 가깝죠? 
  
  그럼 이게 무엇을 의미할까요? 네 맞습니다. !
  
   저희에 가설이 맞을 확률이 높다는 걸 의미합니다.

In [15]:
# 실제 평균을 구하여도 502정도가 출력이 되네요 

df.mean()

502.8