<a href="https://colab.research.google.com/github/daje0601/pandas_study/blob/main/pandas_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# null 변수 지정 & 문자열 연산
null ="abc"
null+"123"

'abc123'

In [2]:
# null 변수 지정 & 숫자 연산
# int
null = 2
print(null + 3)

#float
null = 0.1
print(null + 0.5)

5
0.6

In [8]:
# null 변수 지정 & Boolean 연산(True)

null = True
print(null +True)

# null 변수 지정 & Boolean 연산(False)

null = False
print(null + False)

2
0

In [6]:
# NaN 변수 지정 & 문자열 연산
NaN="ABC"
NaN + "123"

'ABC123'

In [7]:
# NaN 변수 지정 & 숫자 연산
# int
NaN = 2
print(NaN + 3)

#float
NaN = 0.1
print(NaN + 0.5)

5
0.6

In [20]:
import pandas as pd 
import numpy as np
from pandas import Series, DataFrame

ex_merge1 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A", "1", np.nan, "1"],
        "B": ["B", "1", np.nan, "1"],
    }
)

ex_merge1

  key1 key2    A    B
0   K0   K0    A    B
1   K0   K1    1    1
2   K1   K0  NaN  NaN
3   K2   K1    1    1

## 1. 결측치 검사

#### isnull을 사용하여 결측치를 검사할 수 있습니다.

In [21]:
# 결측치가 있다면, True를 반환하고 없다면 False를 반환홤 

ex_merge1.isnull()

    key1   key2      A      B
0  False  False  False  False
1  False  False  False  False
2  False  False   True   True
3  False  False  False  False

In [24]:
# 그런데 데이터가 너무 많다고 가정해보자. 심지어 많아서 중가는 보이지 않는 df를 만났다고 가정해보자 
# 그럼 결측치가 얼마나 있는지를 알 수가 없다.. 저걸 어떻게 count할까? 라는 고민을 할때 필요한 건!! 
# isnull().sum() 이다!! isnull().sum()은 column별로 null의 갯수를 확인해준다. 

ex_merge1.isnull().sum()

key1    0
key2    0
A       1
B       1
dtype: int64

In [26]:
# ex_merge1.isnull().any() : 데이터에 null이 하나라도 있는지 검사하여 확인해준다 

ex_merge1.isnull().any()

key1    False
key2    False
A        True
B        True
dtype: bool

In [25]:
# ex_merge1.isnull().all() : 데이터가 모~~두 null인지를 검사한다. 하나라도 True가 나오면 False를 반환하겠죠?

ex_merge1.isnull().all()

key1    False
key2    False
A       False
B       False
dtype: bool