<a href="https://colab.research.google.com/github/daje0601/pandas_study/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%8B%A4%EA%B8%B0_%EC%A4%80%EB%B9%84_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [149]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv',encoding='euc-kr')
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='euc-kr')

In [150]:
train = pd.concat([X_train, y_train], axis=1)
train = train.drop(columns="cust_id")
test = test.drop(columns="cust_id")
train, test

(           총구매액     최대구매액       환불금액   주구매상품  ...   내점당구매건수    주말방문비율  구매주기  gender
 0      68282840  11264000  6860000.0      기타  ...  3.894737  0.527027    17       0
 1       2136000   2136000   300000.0     스포츠  ...  1.500000  0.000000     1       0
 2       3197000   1639000        NaN  남성 캐주얼  ...  2.000000  0.000000     1       1
 3      16077620   4935000        NaN      기타  ...  2.444444  0.318182    16       1
 4      29050000  24000000        NaN      보석  ...  1.500000  0.000000    85       0
 ...         ...       ...        ...     ...  ...       ...       ...   ...     ...
 3495    3175200   3042900        NaN      골프  ...  2.000000  1.000000     0       1
 3496   29628600   7200000  6049600.0    시티웨어  ...  1.625000  0.461538    40       1
 3497      75000     75000        NaN    주방용품  ...  1.000000  0.000000     0       0
 3498    1875000   1000000        NaN     화장품  ...  1.000000  0.000000    39       0
 3499  263101550  34632000  5973000.0      기타  ...  2.421053  0.467391     8       0

 [3500 rows x 10 columns],
            총구매액     최대구매액        환불금액   주구매상품  ... 내점일수    내점당구매건수    주말방문비율  구매주기
 0      70900400  22000000   4050000.0      골프  ...   13   1.461538  0.789474    26
 1     310533100  38558000  48034700.0     농산물  ...   90   2.433333  0.369863     3
 2     305264140  14825000  30521000.0    가공식품  ...  101  14.623762  0.083277     3
 3       7594080   5225000         NaN    주방용품  ...    5   2.000000  0.000000    47
 4       1795790   1411200         NaN     수산품  ...    3   2.666667  0.125000     8
 ...         ...       ...         ...     ...  ...  ...        ...       ...   ...
 2477   82581500  23976000         NaN      골프  ...    8   1.750000  0.642857    40
 2478     480000    480000         NaN    섬유잡화  ...    1   1.000000  0.000000     0
 2479  260003790  25750000         NaN  남성 캐주얼  ...   19   3.736842  0.915493    18
 2480   88991520  18120000         NaN      육류  ...    5   3.600000  0.444444    60
 2481     623700    209000         NaN    가공식품  ...    2   5.000000  0.000000    31

 [2482 rows x 9 columns])

In [151]:
train.describe()

               총구매액         최대구매액  ...         구매주기       gender
count  3.500000e+03  3.500000e+03  ...  3500.000000  3500.000000
mean   9.191925e+07  1.966424e+07  ...    20.958286     0.376000
std    1.635065e+08  3.199235e+07  ...    24.748682     0.484449
min   -5.242152e+07 -2.992000e+06  ...     0.000000     0.000000
25%    4.747050e+06  2.875000e+06  ...     4.000000     0.000000
50%    2.822270e+07  9.837000e+06  ...    13.000000     0.000000
75%    1.065079e+08  2.296250e+07  ...    28.000000     1.000000
max    2.323180e+09  7.066290e+08  ...   166.000000     1.000000

[8 rows x 8 columns]

In [152]:
test.describe()

               총구매액         최대구매액  ...       주말방문비율         구매주기
count  2.482000e+03  2.482000e+03  ...  2482.000000  2482.000000
mean   1.010275e+08  2.177048e+07  ...     0.293812    20.286060
std    1.732132e+08  3.504919e+07  ...     0.282600    24.108756
min   -3.744000e+07 -3.744000e+07  ...     0.000000     0.000000
25%    5.076868e+06  2.884350e+06  ...     0.023456     4.000000
50%    3.051686e+07  1.075250e+07  ...     0.250000    13.000000
75%    1.264255e+08  2.627700e+07  ...     0.423566    27.000000
max    2.861238e+09  5.932250e+08  ...     1.000000   177.000000

[8 rows x 7 columns]

In [153]:
train[train["총구매액"] < 0] # 1659, 3174, 3488

          총구매액     최대구매액         환불금액 주구매상품  ...   내점당구매건수    주말방문비율  구매주기  gender
1659  -2992000  -2992000    2992000.0  디자이너  ...  1.000000  0.000000     0       0
3174 -52421520  13616000   97222000.0    기타  ...  4.444444  0.337500    16       0
3488 -18905600  82306000  529602320.0  디자이너  ...  1.064516  0.242424    11       0

[3 rows x 10 columns]

In [154]:
# 0보다 작은 금액 제거 
train = train[train["총구매액"]>0]
test = test[test["총구매액"]>0]

In [155]:
train.isnull().sum()

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
gender        0
dtype: int64

In [156]:
test.isnull().sum()

총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [157]:
train["환불금액"] = train["환불금액"].fillna(0)
test["환불금액"] = test["환불금액"].fillna(0)

In [158]:
print("train null :", train.isnull().sum().sum(), ",", "test null :",test.isnull().sum().sum())

train null : 0 , test null : 0

In [159]:
train.dtypes

총구매액         int64
최대구매액        int64
환불금액       float64
주구매상품       object
주구매지점       object
내점일수         int64
내점당구매건수    float64
주말방문비율     float64
구매주기         int64
gender       int64
dtype: object

In [160]:
train["주구매지점"].value_counts()

본  점     1074
잠실점       474
분당점       433
부산본점      243
영등포점      240
일산점       197
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
울산점         6
센텀시티점       6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64

In [161]:
train["주구매상품"].value_counts()

기타        594
가공식품      546
농산물       339
화장품       264
시티웨어      211
디자이너      190
수산품       153
캐주얼       101
명품        100
섬유잡화       98
골프         82
스포츠        68
일용잡화       64
모피/피혁      57
육류         57
남성 캐주얼     55
구두         54
건강식품       47
차/커피       43
아동         40
피혁잡화       39
축산가공       35
주방용품       32
셔츠         30
젓갈/반찬      29
주방가전       26
트래디셔널      23
남성정장       22
주류         14
생활잡화       14
가구         10
커리어         9
란제리/내의      8
대형가전        8
식기          7
액세서리        5
침구/수예       4
통신/컴퓨터      3
보석          3
악기          2
소형가전        2
남성 트랜디      2
Name: 주구매상품, dtype: int64

In [162]:
train

           총구매액     최대구매액       환불금액   주구매상품  ...   내점당구매건수    주말방문비율  구매주기  gender
0      68282840  11264000  6860000.0      기타  ...  3.894737  0.527027    17       0
1       2136000   2136000   300000.0     스포츠  ...  1.500000  0.000000     1       0
2       3197000   1639000        0.0  남성 캐주얼  ...  2.000000  0.000000     1       1
3      16077620   4935000        0.0      기타  ...  2.444444  0.318182    16       1
4      29050000  24000000        0.0      보석  ...  1.500000  0.000000    85       0
...         ...       ...        ...     ...  ...       ...       ...   ...     ...
3495    3175200   3042900        0.0      골프  ...  2.000000  1.000000     0       1
3496   29628600   7200000  6049600.0    시티웨어  ...  1.625000  0.461538    40       1
3497      75000     75000        0.0    주방용품  ...  1.000000  0.000000     0       0
3498    1875000   1000000        0.0     화장품  ...  1.000000  0.000000    39       0
3499  263101550  34632000  5973000.0      기타  ...  2.421053  0.467391     8       0

[3490 rows x 10 columns]

In [163]:
train[train["gender"]==1].describe().round(2)

               총구매액         최대구매액          환불금액  ...   주말방문비율     구매주기  gender
count  1.316000e+03  1.316000e+03  1.316000e+03  ...  1316.00  1316.00  1316.0
mean   6.029865e+07  1.495320e+07  3.856970e+06  ...     0.33    22.28     1.0
std    1.210862e+08  2.761925e+07  1.681849e+07  ...     0.33    26.65     0.0
min    5.000000e+03  5.000000e+03  0.000000e+00  ...     0.00     0.00     1.0
25%    2.352638e+06  1.614278e+06  0.000000e+00  ...     0.00     0.00     1.0
50%    1.288002e+07  6.164500e+06  0.000000e+00  ...     0.27    14.00     1.0
75%    6.090238e+07  1.700000e+07  0.000000e+00  ...     0.50    32.25     1.0
max    9.981312e+08  3.910000e+08  2.107714e+08  ...     1.00   162.00     1.0

[8 rows x 8 columns]

In [164]:
train[train["gender"]==0].describe().round(2)

               총구매액         최대구매액          환불금액  ...   주말방문비율     구매주기  gender
count  2.174000e+03  2.174000e+03  2.174000e+03  ...  2174.00  2174.00  2174.0
mean   1.115173e+08  2.255219e+07  1.070829e+07  ...     0.29    20.23     0.0
std    1.820413e+08  3.408443e+07  3.378378e+07  ...     0.26    23.53     0.0
min    1.000000e+04  1.000000e+04  0.000000e+00  ...     0.00     0.00     0.0
25%    8.404250e+06  4.320000e+06  0.000000e+00  ...     0.07     5.00     0.0
50%    4.189057e+07  1.178600e+07  0.000000e+00  ...     0.25    13.00     0.0
75%    1.430845e+08  2.687500e+07  5.557500e+06  ...     0.41    27.00     0.0
max    2.323180e+09  7.066290e+08  5.637530e+08  ...     1.00   166.00     0.0

[8 rows x 8 columns]

In [165]:

train["환불금액비율"] = train["환불금액"]/train["총구매액"]
train["총구매건수"] = train["내점일수"]*train["내점당구매건수"]
train["구매건당지출금액"] = train["총구매액"]/train["총구매건수"]



test["환불금액비율"] = test["환불금액"]/test["총구매액"]
test["총구매건수"] = test["내점일수"]*test["내점당구매건수"]
test["구매건당지출금액"] = test["총구매액"]/test["총구매건수"]

In [166]:
train.columns

Index(['총구매액', '최대구매액', '환불금액', '주구매상품', '주구매지점', '내점일수', '내점당구매건수', '주말방문비율',
       '구매주기', 'gender', '환불금액비율', '총구매건수', '구매건당지출금액'],
      dtype='object')

In [167]:
len(train)

3490

In [168]:
cols = ['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기', '환불금액비율', '총구매건수', '구매건당지출금액'] 

Q1 = train[cols].quantile(0.005)
Q3 = train[cols].quantile(0.995)

train = train[~((train[cols]< Q1) | (train[cols] > Q3)).any(axis=1)]

In [169]:
len(train)

3330

In [170]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split

In [171]:
encoder = OrdinalEncoder()
encoder.fit(train[["주구매상품", "주구매지점"]])

train[["주구매상품", "주구매지점"]] = encoder.transform(train[["주구매상품", "주구매지점"]] )
test[["주구매상품", "주구매지점"]] = encoder.transform(test[["주구매상품", "주구매지점"]])

In [194]:
val = train.iloc[:300, :]
train = train.iloc[300:, :]

In [195]:
train.shape

(2444, 13)

In [196]:
len(train), len(val)

(2444, 300)

In [197]:
train['gender'].value_counts()
from sklearn.utils import resample

#separate majoirty and minority classes
train_minority = train[train['gender'] == 1]
train_majority = train[train['gender'] == 0]

#Upsample minority class
train_minority_upsampled = resample(train_minority, 
                                replace = True,
                                n_samples = len(train_majority),
                                random_state= 123)

In [176]:
#combine
train_altered = pd.concat([train_majority, train_minority_upsampled])
train_altered['gender'].value_counts()

#5. Scaling
#데이터셋 분리
y_train = train_altered[['gender']]

In [198]:
X_train = train_altered.drop(columns = y_train.columns)

In [200]:
y_val = val[["gender"]]
X_val = val.drop(columns = y_val.columns)

In [201]:

import xgboost as xgb
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.model_selection import train_test_split,GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler

In [202]:
pipe = Pipeline([("scaler", StandardScaler()), ("model", xgb.XGBClassifier())])

train_scores = cross_val_score(pipe, X_train, y_train, cv=5, scoring="roc_auc")
val_scores = cross_val_score(pipe, X_val, y_val, cv=10, scoring="roc_auc")

print(train_scores.mean())
print(val_scores.mean())

0.7318959930475101
0.5891124401913875

In [203]:
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

pipe = Pipeline([('model', xgb.XGBClassifier())])

param_grid = [
              {'model': [SVC()], 
              'model__gamma': [0.01, 0.1, 1, 10, 100], 
              'model__C': [0.01, 0.1, 1, 10, 100]
              },

              {'model': [xgb.XGBClassifier()], 
              'model__learning_rate' : [0.1, 0.3, 0.5],
              'model__n_estimators' : [50, 100, 200,],  
              'model__max_depth': [3, 4, 6]
              },

              {'model': [RandomForestClassifier()],
              'model__max_depth': [3, 4], 
              'model__n_estimators': [100, 200], 
              'model__min_samples_split': [50, 100]
              }]        

grid = GridSearchCV(pipe, param_grid, scoring = 'roc_auc', cv=5)  
grid.fit(X_train, y_train)

print(grid.best_params_)
print(grid.best_score_)

{'model': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.3, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=200, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1), 'model__learning_rate': 0.3, 'model__max_depth': 6, 'model__n_estimators': 200}
0.8684761846778365

In [204]:
grid.score(X_train, y_train)

1.0

In [207]:
grid.score(X_val, y_val)

0.9866666666666668

In [208]:
preds = grid.predict(X_val)

In [209]:
from sklearn.metrics import roc_auc_score, classification_report

In [210]:
print(classification_report(y_val, preds))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97       195
           1       1.00      0.90      0.94       105

    accuracy                           0.96       300
   macro avg       0.97      0.95      0.96       300
weighted avg       0.97      0.96      0.96       300

In [211]:

roc_auc_score(y_val, preds)

0.9476190476190476

In [188]:
model = xgb.XGBClassifier(**grid.best_params_)

In [189]:
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None,
              model=XGBClassifier(base_score=0.5, booster='gbtree',
                                  colsample_bylevel=1, colsample_bynode=1,
                                  colsample_bytree=1, gamma=0,
                                  learning_rate=0.3, max_delta_step=0,
                                  max_de...
                                  objective='binary:logistic', random_state=0,
                                  reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                                  seed=None, silent=None, subsample=1,
                                  verbosity=1),
              model__learning_rate=0.3, model__max_depth=6,
              model__n_estimators=200, n_estimators=100, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [190]:
y_test = model.predict_proba(test)[:, 1]

In [191]:
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='euc-kr')

In [ ]:
answer = test[["cust_id", "gender"]]

In [ ]:
answer

In [ ]:
answer.to_csv("123456.csv", index=False)

In [ ]:
print(pd.read_csv("123456.csv"))

In [ ]:
dir(st)

In [13]:
# t-test
# 모집단의 분산이나 표준편차를 알지 못할 때
# 모집단을 대표하는 표본으로부터 추정된 분산이나 표준편차를 가지고 검정하는 방법

# one_smaple_t_test
import scipy.stats as st 
coinflips = np.random.binomial(n = 1, p = 0.5, size = 1000)

print(st.ttest_1samp(coinflips, 0.5))

# two_smaple_t_test
coin1 = np.random.binomial(n = 1, p = 0.6, size = 500)
coin2 = np.random.binomial(n = 1, p = 0.5, size = 200)

st.ttest_ind(coin1, coin2)

Ttest_1sampResult(statistic=0.6322656909571999, pvalue=0.5273579504134063)

Ttest_indResult(statistic=1.9445586796700236, pvalue=0.05222945280717049)

In [17]:
import numpy as np
from scipy.stats import chisquare  

s_obs = np.array([[18, 22, 20, 15, 23, 22]]) # Similar
print('--- Similar ---')
chisquare(s_obs, axis=None)

# st.chi2_contingency(데이터프레임으로 들어와야함)

# return으로는 chi2, pvalue, dof, expected가 주어지게 됨

--- Similar ---

Power_divergenceResult(statistic=2.3000000000000003, pvalue=0.8062668698851285)

In [2]:
# 신뢰구간 ( T분포 )

import scipy.stats as st
import numpy as np

a = range(10, 14)
print(st.t.interval(0.95, len(a)-1, loc=np.mean(a), scale=st.sem(a)))


from scipy.stats import t
# 표본의 크기
n = len(a)
# 자유도
dof = n-1
# 평균의 평균
mean = np.mean(a)
# 표본의 표준편차
sample_std = np.std(a, ddof = 1)
# 표준 오차
std_err = sample_std / n ** 0.5 # sample_std / sqrt(n)

CI = t.interval(.95, dof, loc = mean, scale = std_err)
print(CI)

(9.445739743239121, 13.554260256760879)
(9.445739743239121, 13.554260256760879)

In [12]:
# 신뢰구간 ( chi)

from scipy.stats 
import numpy as np

## 모집단 평균 70, 표준편차 3 가정
mu = 70
std = 3
norm_ = st.norm(mu,std)

## 모집단에서 30개 표본 추출
sample_data=norm_.rvs(30)
sample_mean = np.mean(sample_data)
sample_std = np.std(sample_data, ddof=1)

## 카이제곱분포를 활용한 신뢰구간 추정
df = 30-1
chi_ = st.chi2(df)
t_025 = chi_.ppf(0.025) 
t_975 = chi_.ppf(0.975) 
L_= round(((df*sample_std**2)/t_975),2) ## 본문의 식과는 t_975, t_025순서가 바뀜(Scipy가 주는 값에 의해)
U_= round(((df*sample_std**2)/t_025),2)
print("{} < {} < {}".format(L_, std**2, U_)) ## 결과:4.78 < 9 < 13.62

5.88 < 9 < 16.74

In [11]:
# ANOVA
#: Python의  scipy 모듈의 stats.f_oneway() 메소드를 사용하여 샘플의 크기가 서로 다른 3개 그룹 간 평균에 차이가 존재하는지 여부를 일원분산분석(one-way ANOVA)

# [ 분산분석  검정의 가정사항 (assumptions of ANOVA test) ]

#   (1) 독립성: 각 샘플 데이터는 서로 독립이다. 
#   (2) 정규성: 각 샘플 데이터는 정규분포를 따르는 모집단으로 부터 추출되었다. 
#   (3) 등분산성: 그룹들의 모집단의 분산은 모두 동일하다. 

import scipy.stats as st

d1 = np.random.normal(0, 1, 50)
d2 = np.random.normal(0, 1, 40)
d3 = np.random.normal(5, 1, 30)

print(st.f_oneway(d1, d2, d3))

f_val, p_val = st.f_oneway(d1, d2, d3)
print('f-statistic:', f_val.round(5))
print('p-vale:', p_val)

F_onewayResult(statistic=239.1906104982351, pvalue=4.60635778812442e-42)
f-statistic: 239.19061
p-vale: 4.60635778812442e-42