<a href="https://colab.research.google.com/github/daje0601/pandas_study/blob/main/pandas_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# null 변수 지정 & 문자열 연산
null ="abc"
null+"123"

'abc123'

In [2]:
# null 변수 지정 & 숫자 연산
# int
null = 2
print(null + 3)

#float
null = 0.1
print(null + 0.5)

5
0.6

In [3]:
# null 변수 지정 & Boolean 연산(True)

null = True
print(null +True)

# null 변수 지정 & Boolean 연산(False)

null = False
print(null + False)

2
0

In [4]:
# NaN 변수 지정 & 문자열 연산
NaN="ABC"
NaN + "123"

'ABC123'

In [5]:
# NaN 변수 지정 & 숫자 연산
# int
NaN = 2
print(NaN + 3)

#float
NaN = 0.1
print(NaN + 0.5)

5
0.6

In [6]:
import pandas as pd 
import numpy as np
from pandas import Series, DataFrame

ex_merge1 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["2", "1", np.nan, "1"],
        "B": ["10", "1", np.nan, "1"],
    }
)

ex_merge1

  key1 key2    A    B
0   K0   K0    2   10
1   K0   K1    1    1
2   K1   K0  NaN  NaN
3   K2   K1    1    1

## 1. 결측치 검사

#### isnull을 사용하여 결측치를 검사할 수 있습니다.

In [7]:
# 결측치가 있다면, True를 반환하고 없다면 False를 반환홤 

ex_merge1.isnull()

    key1   key2      A      B
0  False  False  False  False
1  False  False  False  False
2  False  False   True   True
3  False  False  False  False

In [8]:
# 그런데 데이터가 너무 많다고 가정해보자. 심지어 많아서 중가는 보이지 않는 df를 만났다고 가정해보자 
# 그럼 결측치가 얼마나 있는지를 알 수가 없다.. 저걸 어떻게 count할까? 라는 고민을 할때 필요한 건!! 
# isnull().sum() 이다!! isnull().sum()은 column별로 null의 갯수를 확인해준다. 

ex_merge1.isnull().sum()

key1    0
key2    0
A       1
B       1
dtype: int64

## 2. 결측치 치환

#### 결측치를 치환할 때 숫자로만 구성된 데이터로 결측치 처리를 해야합니다.  
####  그렇지 않을경우, 데이터 값이 오류가 발생될 수 있으니 주의!!해주세요

In [9]:
# 일단 무엇인지 모르시더라도 따라서 실행을 해보세요~
ex_merge1.loc[:, "A":"B"].apply(pd.to_numeric, errors="coerce").fillna(0)

# 위 코드에 대해 설명 드리겠습니다. 
# apply는 column별로 돌아가면서 데이터 타입을 변경해주는 녀석입니다. 
# 그럼 apply에서 어떤 타입에서 어떤 타입으로 변경할지를 알려주어야 겠죠?
# 그게 바로 to_numeric입니다. to_numeric은 str을 float로 변경해줍니다. 
# 그리고 마지막 fillna는 결측치를 ()안에 값으로 변경해줍니다. 저기에 1을 넣으면 결측치가 1로 바뀝니다.

     A     B
0  2.0  10.0
1  1.0   1.0
2  0.0   0.0
3  1.0   1.0